root = true

[*]
charset = utf-8
end_of_line = lf
tab_width = 4
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# XML Configuration Files
[*.{xml,config,json}]
indent_size = 2

[**.md]
trim_trailing_whitespace = false

# Batch Files
[*.{cmd,bat,ps1}]
end_of_line = crlf

# Bash Files
[*.sh]
end_of_line = lf

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
